<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springcloud.service.governing.dao.ApplicationDao">
    <insert id="createApplication" parameterType="org.springcloud.service.governing.entity.request.ApplicationEntity">
        INSERT INTO table_application_info (
                app, registryUrl)
        VALUE (
                #{applicationEntity.app}, #{applicationEntity.registryUrl})
    </insert>

    <select id="getApplicationInfo" parameterType="org.springcloud.service.governing.entity.request.ApplicationEntity" resultType="org.springcloud.service.governing.entity.request.ApplicationEntity">
        SELECT * FROM table_application_info
        WHERE 1=1
        <if test="app != null and app != ''"> AND table_application_info.app = #{app}</if>
    </select>

    <delete id="deleteApplication" parameterType="org.springcloud.service.governing.entity.request.ApplicationEntity">
        DELETE FROM table_application_info WHERE table_application_info.app = #{app}
    </delete>

</mapper>