<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springcloud.service.governing.dao.ValidApplicationDao">
    <insert id="validApplication" parameterType="org.springcloud.service.governing.entity.request.ApplicationEntity">
        INSERT INTO table_application_info (
                app, registryUrl)
        VALUE (
                #{applicationEntity.app}, #{applicationEntity.registryUrl})
    </insert>
</mapper>